*.cpuprofile 
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
!*.code-workspace

./music/util/raw_to_final/out/*
./music/util/raw_to_final/in/*