* {
    padding: 0px;
    margin: 0px;
    border: 0px
   }
   
@font-face {
    font-family: 'courier';
    src: url('./fonts/VeraMono.ttf')
}
@font-face {
    font-family: 'courierBold';
    src: url('./fonts/CourierPrime-Bold.ttf')
}
@font-face {
    font-family: 'courierBoldItalic';
    src: url('./fonts/CourierPrime-BoldItalic.ttf')
}
@font-face {
    font-family: 'courierItalic';
    src: url('./fonts/CourierPrime-Italic.ttf')
}