<html>

<body>
    <canvas tabindex='1' id="main"></canvas>
    <p>little guys</p>
    <select id="materialSelect">
        <option value="dirt,dirt,dirt,sand">dirt</option>
        <option value="gravel">gravel</option>
        <option value="sand,sand,sand,dirt">sand</option>
        <option value="sand,dirt">sandy dirt</option>
        <option value="sand,sand,dirt">very sandy dirt</option>
        <option value="sand,dirt,dirt">very dirty sand</option>
        <option value="popgrass">popgrass</option>
        <option value="cactus">cactus</option>
        <option value="lilypad">lilypad</option>
        <option value="water">water</option>
        <option value="rock">rock</option>
        <option value="rain">rain</option>
        <option value="heavy rain">heavy rain</option>
        <option value="aquifer">aquifer</option>
        <option value="drain">drain</option>
        <option value="water distribution">water distribution</option>
    </select>
    <select id="viewmodeSelect">
        <option value="normal">normal</option>
        <option value="watersaturation">water saturation</option>
        <option value="blockhealthliquid">water density</option>

        <option value="organismStructure">organism structures</option>
        <option value="organismSquareNutrients">nutrients by square</option>
        <option value="organismSquareDirt">organism square dirt nutrients</option>
        <option value="organismSquareWater">organism square water nutrients</option>
        <option value="organismSquareAir">organism square air nutrients</option>
        <option value="organismSquareWaterStored">organism square water stored</option>

        <option value="organismDirt">organism dirt nutrients</option>
        <option value="organismWater">organism water nutrients</option>
        <option value="organismAir">organism air nutrients</option>

        <option value="organismNutrients">organism nutrients (composite)</option>
        <option value="organismHealth">organism health</option>
        <option value="organismEnergy">organism energy</option>
        <option value="organismLifetime"> organism lifetime</option>

    </select>
    <input type="number" id="timeScale" value=1>time scale</input>
    <button type="button" id="loadSlotA">load slot A</button>
    <button type="button" id="saveSlotA">save slot A</button>
    <button type="button" id="loadSlotB">load slot B</button>
    <button type="button" id="saveSlotB">save slot B</button>
    <div id="configSliders">
    </div>
    <code id="configOutput"></code>
</body>
<script type="module" src="./static/index.js"></script>
<link rel="stylesheet" src="./static/index.css"/>
</html>
