<html>

<body>
    <canvas tabindex='1' id="main"></canvas>
    <canvas tabindex='2' hidden id="organismMetadataViewer"></canvas>
    <p>little guys</p>
    <select id="materialSelect">
        <option value="dirt">dirt</option>
        <option value="gravel">gravel</option>
        <option value="sand">sand</option>
        <option value="popgrass">popgrass</option>
        <option value="cactus">cactus</option>
        <option value="lilypad">lilypad</option>
        <option value="water">water</option>
        <option value="rock">rock</option>
        <option value="rain">rain</option>
        <option value="heavy rain">heavy rain</option>
        <option value="aquifer">aquifer</option>
        <option value="drain">drain</option>
        <option value="water distribution">water distribution</option>
    </select>
    <select id="viewmodeSelect">
        <option value="normal">normal</option>
        <option value="watersaturation">water saturation</option>
        <option value="organismStructure">organism structures</option>
    </select>
    <input type="number" id="timeScale">time scale</input>
    <button type="button" id="loadSlotA">load slot A</button>
    <button type="button" id="saveSlotA">save slot A</button>
    <button type="button" id="loadSlotB">load slot B</button>
    <button type="button" id="saveSlotB">save slot B</button>
    <div id="configSliders">
    </div>
    <code id="configOutput"></code>
</body>
<script type="module" src="./static/index.js"></script>
<link rel="stylesheet" src="./static/index.css"/>
</html>
